body{
	color : black;
	background-color:white;
	font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size : 14px;
	margin: 0;
}


.container {
	width : 2056px;
    margin : auto;
    padding: 0 50px;
	
	
}
.left {
    float : left;
}

.right {
	float : right;
}

.clear {
    clear :both;
    padding-bottom: 120px; 
}

.section1{
    padding : 5px 40px;
    padding-bottom: 320px;
    background-color: whitesmoke;
    background-image: url("gambar/background.jpg");
}
.section2
{
    padding: 10px 20px;
	margin: auto;

}

.section3{
    background-color: green;
	color: white;
	padding:5px;
	text-align: center;	
}
